/*Ê†∑ÂºèÈáçÁΩÆ*/
* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

body {
	font-family: "Œ¢»Ì—≈∫⁄";
	font-size: 20px;
}

.wrap {
	border: 1px solid black;
	width: 1200px;
	height: 700px;
	margin: 60px auto;
}

.wrap {
	position: relative;
	bottom: 30px;
}

.clearFix:after {
	content: "";
	display: block;
	clear: both;
}

.head {
	width: 1200px;
	height: 80px;
	border: solid 1px black;
	margin: 20px auto;
	position: relative;
}

.head .xuebi {
	float: left;
	margin-left: 80px;
	margin-top: 17px;
	display: inline-block;
	width: 100px;
	height: 40px;
	background: url(logo.gif);
}

.head span {
	position: relative;
	left: 28px;
	line-height: 80px;
	font-family: "Œ¢»Ì—≈∫⁄";
	font-size: 24px;
}

.wrap .left {
	padding-left: 40px;
	padding-top: 40px;
	border: solid 1px black;
	float: left;
	width: 260px;
	height: 600px;
	margin-top: 30px;
	margin-left: 40px;
}

.wrap .left ul li {
	list-style-type: none;
}

.wrap .left a {
	width: 260px;
	height: 30px;
}

.wrap .right {
	float: right;
	width: 700px;
	height: 642px;
	border: solid 1px black;
	margin-right: 40px;
	margin-top: 30px;
}