* {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

a:hover {
	color: red;
}

.page {
	width: 1000px;
	margin: 20px auto;
}

.head {
	width: 1000px;
	height: 63px;
	border: solid 2px #969696;
}

.head .logo {
	margin-left: 33px;
	display: inline-block;
	float: left;
}

.head .font {
	margin-top: 10px;
}

.head .font p {
	font-size: 10px;
	font-family: "풕턼환쥌";
	color: #969696;
}

.link {
	width: 1000px;
	height: 69px;
	margin-top: 10px;
	border: solid 2px #969696;
}

.link li {
	list-style-type: none;
	width: 40px;
	height: 40px;
	margin-top: 5px;
	margin-left: 28px;
	margin-right: 41px;
	float: left;
	padding-left: 10px;
	border: solid 2px #969696;
}

.link li a {
	font-size: 10px;
	font-family: "풕턼환쥌";
	/*color: #969696;*/
}

.link1 {
	height: 44px;
	width: 800px;
	position: relative;
	right: -140px;
}

.dqzt {
	margin-top: 10px;
	border: solid 2px #969696;
	width: 1000px;
	height: 15px;
	font-size: 10px;
	font-family: "풕턼환쥌";
	color: #969696;
}

.content {
	width: 1000px;
	height: 500px;
	/*border-right: solid 1px red;*/
}

.content .left {
	width: 280px;
	height: 500px;
	border-right: solid 2px #969696;
}

.left .left1 {
	position: relative;
	top: 10px;
	width: 260px;
	height: 150px;
	border: solid 2px #969696;
}

.left1 li {
	list-style-type: none;
}

.left .left2 {
	width: 260px;
	height: 150px;
	border: solid 2px #969696;
	position: relative;
	bottom: -192px;
}

.left2 .yqlj {
	font-family: "풻";
}

.left2 .more {
	float: right;
	font-family: "풕턼환쥌";
	font-weight: 700;
}

.content .right {
	width: 700px;
	height: 487px;
	float: right;
	border: solid 2px #969696;
	position: absolute;
	left: 475px;
	top: 210px;
}
/*.content iframe {
	width: 650px;
	height: 400px
	border: solid 2px #969696;
}*/
.foot {
	width: 1000px;
	height: 44px;
	margin-top: 10px;
	border: solid 2px #969696;
	font-size: 10px;
	font-family: "풕턼환쥌";
	color: #969696;
}

.foot .f1 {
	/*font-size: 10px;
	font-family: "풕턼환쥌";
	color: #969696;
	line-height: 44px;*/
	width: 600px;
	height: 10px;
	margin: 0 auto;
	padding-top: 8px;
}

.foot .f2 {
	width: 400px;
	height: 10px;
	margin: 0 auto;
	padding-top: 7px;
	padding-bottom: 10px;
}